<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocPac Search | Home</title>
</head>
<body>
    <div class="searchType">
        What category would you like to search for?
        <form action="search" method="post">
            <select id="category" name="category" size="5">
              <option value="changes">Changes</option>
              <option value="events">Events</option>
              <option value="goals">Goals</option>
              <option value="incdoc">Included Documentation</option>
              <option value="reqdoc">Required Documentation</option>
            </select><br><br>
            <input type="submit">
          </form>
    </div>
</body>
</html>