<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Item</title>
  </head>
  <body>
<h1>Add Item</h1>
<form action="/neworder" method="post">
  <label for="fname">Order Number:</label><br>
  <input type="text" id="inum" name="inum"><br>
  <label for="lname">Item Name:</label><br>
  <input type="text" id="iname" name="iname"><br>
  <label for="fname">Quantity:</label><br>
  <input type="text" id="quantity" name="quantity"><br>
  <label for="fname">Price:</label><br>
  <input type="text" id="price" name="price"><br>
  <button type="submit" formaction="/neworder">Submit</button>
</form>
  </body>
</html>
