<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      <ul style="color:white; float: right;" class="nav navbar-nav">
            <li><a href="/neworder"> NewOrder  </a> </li>
            <li><a href="#">Sign Up </a>  </li>

        </ul>
  </body>
</html>
