<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Submission</title>
</head>
<body>
    <form action="/neworder" method="post">
        <input type="text" name="cName" id="cName" placeholder="Name...">
        <input type="text" name="cAddy" id="cAddy" placeholder="Address...">
        <input type="submit" value="Submit Order">
    </form>
</body>
</html>